<%= form_for([@character, @character.biowares.build]) do |f| %>
  <p>
    <h5>Bioware Name</h5>
    <%= f.text_area :name, :cols => "20", :rows => "1" %>   
    <h5>Rating</h5>
    <%= f.number_field :rating %>
    <h5>Notes</h5>
    <%= f.text_area :notes %>
    <h5>Wireless</h5>
    <%= f.check_box :wireless %>
    <h5>Essence Value</h5>
    <%= f.number_field :essence %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>