<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bioware.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @bioware.rating %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @bioware.notes %>
</p>

<p>
  <strong>Wireless:</strong>
  <%= @bioware.wireless %>
</p>

<p>
  <strong>Essence:</strong>
  <%= @bioware.essence %>
</p>

<p>
  <strong>Character:</strong>
  <%= @bioware.character %>
</p>

<%= link_to 'Edit', edit_bioware_path(@bioware) %> |
<%= link_to 'Back', biowares_path %>
