<%= form_for([@character, @character.weapons.build]) do |f| %>
  <p>
    <h5>Weapon Name</h5>
    <%= f.text_area :name, :cols => "20", :rows => "1" %>   
    <h5>Damage</h5>
    <%= f.number_field :damage %>
    <h5>Wireless</h5>
    <%= f.check_box :wireless %>
    <h5>Ammo</h5>
    <%= f.number_field :ammo %>
    <h5>Weapon Misc</h5>
    <%= f.number_field :misc %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

