<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weapon.name %>
</p>

<p>
  <strong>Damage:</strong>
  <%= @weapon.damage %>
</p>

<p>
  <strong>Wireless:</strong>
  <%= @weapon.wireless %>
</p>

<p>
  <strong>Ammo:</strong>
  <%= @weapon.ammo %>
</p>

<p>
  <strong>Misc:</strong>
  <%= @weapon.misc %>
</p>

<p>
  <strong>Character:</strong>
  <%= @weapon.character %>
</p>

<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
