<p>
  <strong><%= gear.name %></strong>
</p>
 <p>
    <strong>Rating:</strong>
    <%= gear.rating %>
  </p>
  <p>
    <strong>Wireless:</strong>
    <%= check_box_tag 'wireless', '1' %>
  </p>
  <p>
    <strong>Misc:</strong>
    <%= gear.misc %>
  </p>

<p>
<%#= link_to 'Edit', [:edit, skill.character, skill] %><p>Gear.edit?</P> |
<%= link_to 'x', [gear.character, gear],
			method: :delete,
			data: { confirm: 'Really?' } %>
</p>