<% if @armors.present? %>
  <% @armors.each do |armor| %>
    <p><strong><%= armor.name %></strong></p>
    <p><strong>Rating:</strong>
      <%= armor.rating %></p>
    <p><strong>Wireless:</strong>
      <%= check_box_tag 'wireless', '1' %></p>
    <p><strong>Misc:</strong>
      <%= armor.misc %></p>

<p><%= link_to 'x', [armor.character, armor],
			method: :delete,
			data: { confirm: 'Really?' } %></p>
      
  <% end %>
<% else %>
  <p colspan=4>You don't have any armor.</p>
<% end %>