<p>
  <strong><%= armor.name %></strong>
</p>
 <p>
    <strong>Rating:</strong>
    <%= armor.rating %>
  </p>
  <p>
    <strong>Wireless:</strong>
    <%= armor.wireless %>
  </p>
  <p>
    <strong>Misc:</strong>
    <%= armor.misc %>
  </p>

<p>
<%#= link_to 'Edit', [:edit, skill.character, skill] %><p>Armor.edit?</P> |
<%= link_to 'Destroy Armor', [armor.character, armor],
			method: :delete,
			data: { confirm: 'Really?' } %>
</p>