<h1>Listing armors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Wireless</th>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @armors.each do |armor| %>
      <tr>
        <td><%= armor.name %></td>
        <td><%= armor.rating %></td>
        <td><%= armor.wireless %></td>
        <td><%= armor.character %></td>
        <td><%= link_to 'Show', armor %></td>
        <td><%= link_to 'Edit', edit_armor_path(armor) %></td>
        <td><%= link_to 'Destroy', armor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Armor', new_armor_path %>
