<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @armor.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @armor.rating %>
</p>

<p>
  <strong>Wireless:</strong>
  <%= @armor.wireless %>
</p>

<p>
  <strong>Character:</strong>
  <%= @armor.character %>
</p>

<%= link_to 'Edit', edit_armor_path(@armor) %> |
<%= link_to 'Back', armors_path %>
